@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}




:root {
  --bg01: #010409;
  --container-bg01: #010409;

  --left-bg: #0D1117;
  --right-bg: #21262D;

  --col01: #E6EDF3;
  --col02: #00c2c2;
  --icon01: #8D96A0;
}

a {
  text-decoration: none;
  color: var(--col02);
}

body {
  background: var(--bg01);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 0px;
  background: var(--container-bg01);
  border-radius: 10px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 0px 50px var(--col02);
}


/* HEADER */
header {
  padding: 20px 0;
  color: var(--col02);
}

.header-menu {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

/* THEME CHANGER */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.theme-changer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-changer span {
  padding: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--icon01);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: var(--col01);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--col02);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--col02);
}

input:checked+.slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

/* LEFT SIDE */

.left-side {
  position: relative;
  background: var(--left-bg);
  padding: 40px;
  color: var(--col01);
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--icon01);
}

.profile__img {
  position: relative;
  width: 100%;
  border-radius: 25%;
}

.profile h1 {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.profile span {
  color: var(--col02);
  font-size: 1.2em;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.contact {
  padding-top: 40px;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

ul {
  position: relative;
  list-style: none;
}

.contact li {
  position: relative;
  margin: 10px 0;
}

.contact .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: var(--icon01);
}

.text {
  font-weight: 300;
  font-size: 15px;
  color: var(--col01);
}

.education {
  padding-top: 40px;
}

.info {
  padding: 40px 0;
}

.info li {
  padding: 5px 0;
}

.percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: var(--icon01);
  display: block;
  margin-top: 5px;
}

.percent-full {
  position: absolute;
  left: 0;
  height: 100%;
  background: var(--col02);
}

/* RIGHT SIDE */

.right-side {
  position: relative;
  background: var(--right-bg);
  color: var(--col01);
  padding: 40px;
}

.right-section {
  padding: 30px 0;
}

.right-section .title {
  color: var(--col02);
}

.work h4 {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
}

.work li:not(:last-child) {
  padding-bottom: 15px;
}



/* FOOTER */
footer {
  padding: 20px 0;
  color: var(--icon01);
}