<main class="container-about">

  <section class="about-me">

    <h1 class="about-heading">Обо мне</h1>
    <p class="text">Добрый день? _!
      Моё имя - Антон, я начинающий фронтенд разработчик.
      Меня заинтересовала ваша вакансия _название вакансии
      _ссылка

      _почему заинтересовала ваша компания

      _почему я вам подхожу


      В начале этого года решил перепрофилироваться (учился на ПМиИТ (Прикладная математика и информационные технологии)
      в
      НФ-КФУ).

      Уже знаком с веб дизайном, продуктовым дизайном, UX/UI, но понял что мне более интересна внутренняя составляющая
      сайта
      или приложения.

      Раньше уже занимался созданием сайтов, так что с HTML и CSS знаком достаточно близко. Обучился основам JavaScript
      самостоятельно. Сейчас изучаю React, Redux-toolkit и TypeScript. Смотрю обучающие видео, читаю статьи и
      документации,
      пишу учебные проекты.

      Я лёгок в общении, самостоятельный, ответственно подхожу к работе, довожу дела до конца.

      Готов выполнить тестовое задание или пройти интервью в удобное для вас время. Могу ответить на ваши вопросы в
      Telegram,
      Whatsapp или по телефону.

      Благодарю за внимание!
    </p>



  </section>
</main>